/**{
	font-family: Avenir Next LT Pro;
	margin: 0em;
}

#bloc_page{
	height: 15em;
}

.bouton a{
    padding:20px;
    margin-left: 550px;
    margin-top: 30px;
    border-radius : 4em;
    background-color:rgba(120, 0, 120, 0.2);
    text-align : center;
    font-weight: bold;
    color : white;
    text-decoration: none;
    font-size: 2em;
    position: absolute;
}

@keyframes slide {
0% {left: 0%;}
20% {left: 0%;}
25% {left: -100%;}
45% {left: -100%;}
50% {left: -198%;}
70% {left: -198%;}
75% {left: -298%;}
95% {left: -298%;}
100% {left: -400%;}
}


.slide figure {
    position: relative;
    width: 500%;
    font-size: 40;
    animation: 15s slide infinite;
                }

.slide {
    overflow: hidden;
        }

.slide img {
    width: : 20%;
    height: 105vh;
    margin: 0;

}

#bloc_page td{
	width: 8em;
	height: 2em;
}

#bloc_page{
	margin-left:2em;
	}*/

	#slideshow {
	    position: relative;
	    width: 1500px;
	    height: 500px;
	    padding: 15px;
	    margin: 0 auto 1em;
	    margin-bottom: 45px;
	    top: 2em;
	}


	#slideshow:before,
	#slideshow:after {
	    position: absolute;
	    bottom:16px;
	    z-index: -10;
	    width: 50%;
	    height: 20px;
	    content: " ";
	    background: rgba(0,0,0,0);
	    border-radius: 75%;

	}
	#slideshow:before {
	    left:0;
	    transform: rotate(-4deg);
	}
	#slideshow:after {
	    right:0;
	    transform: rotate(4deg);
	}

	/* gestion des dimensions et dÃ©bordement du conteneur */
	#slideshow .container {
	    position:relative;
	    width: 1300px;
	    height: 500px;
	    overflow: hidden;
	}

	/* on prÃ©voit un petit espace gris pour la timeline */
	#slideshow .container:after {
	    position:absolute;
	    bottom: 0; left:0;
	    content: " ";
	    width: 100%;
	    height: 1px;
	   /* background: #999; */
	}
	/*
	   le conteneur des slides
	   en largeur il fait 100% x le nombre de slides
	*/
	#slideshow .slider {
	    position: absolute;
	    left:0; top:0;
	    width: 400%;
	    height: 500px;
	}

	/* annulation des marges sur figure */
	#slideshow figure {
	    position:relative;
	    display:inline-block;
	    padding:0; margin:0;
	}
	/* petit effet de vignette sur les images */
	#slideshow figure:after {
	    position: absolute;
	    display:block;
	    content: " ";
	    top:0; left:0;
	    width: 100%; height: 100%;
	    box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
	}

	/* fonction d'animation, n'oubliez pas de prefixer ! */
	@keyframes slider {
	    0%, 20%, 100%   { left: 0 }
	    25%, 45%        { left: -100% }
	    50%, 70%        { left: -200% }
	    75%, 95%        { left: -300% }
	}

	/* complÃ©tez le sÃ©lecteur : */
	#slideshow .slider {
	    /* ... avec la propriÃ©tÃ© animation */
	    animation: slider 17s infinite;
	}

	.slider img{
	background-size: cover;
	background-position: 50% 50%;
	}
