/*page*/
@font-face{
    font-family: "Avenir Next LT Pro";
    src:url(AvenirNextLTPro-Demi.otf);
}

*{
    font-family: Avenir Next LT Pro;
}
/*en tête*/
header{
    background-attachment: fixed;
    margin-bottom: 0em;

}
.logo, img{
    width:250px;
    height:100px;
    margin: 10px 0px 0px 10px;
}

header h1{

    font-weight:bold;
    color: rgba(120, 0, 120, 0.6);
    font-size: 1.8em;
    position:absolute;
    top:40px;
    right:445px;
}

header .inscription a{
	font-size: 1.2em;
    position:absolute;
    top:1em;
    right:180px;
    text-decoration: none;

    height:1em;
    width: 8em;
    border-style: solid;
    border-radius:1em;
    border-color: #127feb;
    border-width: thin;
    text-align: center;
    padding: 0.8em;
    color:#127feb;

}


header .connexion a{
	font-size: 1.2em;
    position:absolute;
    top:4em;
    right:180px;
    text-decoration: none;
    height:1em;
    width: 8em;
    border-style: solid;
    border-radius:1em;
    border-color: #127feb;
    border-width: thin;
    text-align: center;
    padding:0.8em;
    color:#127feb;
}

header .deconnexion a{
	font-size: 1.2em;
    position:absolute;
    top:50px;
    right:180px;
    text-decoration: none;

    height:1em;
    width: 8em;
    border-style: solid;
    border-radius:1em;
    border-color: red;
    border-width: thin;
    text-align: center;
    padding:0.8em;
    color:red;
}





.champ1{
  position:absolute;
  top:35px;
  right:150px;
}
.champ2{
  position:absolute;
  top:120px;
  right:187px;
}


/*barre de navigation*/
header nav{
    position: relative;
    background-color: rgba(120, 0, 120, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 30px;
}

nav a{
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right:50px;
    padding: 7px;

}


/*barre de recherche*/
header .search input{
    border-radius: 100px;
    border: grey solid 1px;
    font-size: 1em;
    outline:none;
    text-align: center;
    margin-left:1040px;
    margin-top: 5px;
}

.effet{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;

}

.effet img {

    width:2em;
    height:2em;
    vertical-align:middle;
    transition:transform .3s ease;
}


.effet img:hover {

    transform: scale(1.4);
}

footer{
    postition:relative;
    clear:both;
    margin:auto;
    padding-top:1em;
    height: 8em;
    width: auto;
    color:white;

    background-color:#2b2d2e;


}

#credit{
  font-size: 1em;
  margin-top: 0.5em;
}
