table{
  margin-right:auto;
  margin-left:auto;
}

tr td {
  width: 11em;
}

.ajout{
  text-align: center;
  margin-left: 1em;
  margin-top: 0.4em;
}

.invite{
  display: flex;
  padding: 1em;
  justify-content: center;
}
