@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(AvenirNextLTPro-Demi.otf);
}

*{

  font-family: Avenir Next LT Pro;

}

.content{
  background-color: #edefed;
	padding: 1em;
	border-bottom: solid;
  border-bottom-color: #7d8287;
  border-width: thin;
}

.description{
  background-color: white;
  border: solid;
  border-color: #7d8287;
  border-width: thin;
  color: #7d8287;
  margin:2em;
  padding-top :2em;
  padding-bottom: 2em;
}

.groupe{
  background-color: #5c71cb;
  height: 10em;
  width: auto;
  display: flex;
  justify-content: space-between;
  color : white;
}

.region{
  margin-right: 8em;
  margin-top: 1.5em;
  padding: 1em;
}

.image_sport{
  position: absolute;
  margin-top: 1.3em;
  margin-left: 2em;
}
.salle{
  background-color: #6779bc;
  height: 10em;
  width: auto;
}

.sport{
  background-color: #90c144;
  height: 7em;
  width: auto;

}

.sport a{
  text-decoration: none;
}

.name_groupe{
  color: white;
  font-size: 3em;
  text-align: left;
  padding: 1.07em;
  margin: 0px;
}

.name_sport{
  color: white;
  font-size: 3em;
  text-align: center;
  padding: 0.5em;
  margin: 0px;
}

h1 .modifier{
  color: white;
  font-size: 0.4em;
  text-align: right;
}

#logomodif{
  height: 0.9em;
  width: 0.9em;
}

.infos{
  background-color: #edefed;
}

.admin_groupe{
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
	border-bottom: solid;
  border-bottom-color: #7d8287;
  border-width: thin;

}

.admin_groupe a{
  color: white;
  text-decoration: none;
}

.name_admin table{
    text-decoration: none;
    margin-right:auto;
    margin-left:auto;
    font-size: 1em;
    border-radius:2em;
    background-color: #343f40;
    text-align: center;
    justify-content: center;


}

.description{
  text-align: center;
  background-color: white;
  border: solid;
  border-color: #7d8287;
  border-width: thin;
  color: #7d8287;
  margin:1em;

}

.description h2{
  color: black;
}

.evenement{
  background-color: white;
  border: solid;
  border-color: #7d8287;
  border-width: thin;
  color: #7d8287;
  margin:2em;
  padding-top :2em;
  padding-bottom: 2em;
  text-align: center;
}

.evenement h2{
  color: black;
}

.liste_membre{
  background-color: white;
  border: solid;
  border-color: #7d8287;
  border-width: thin;
  color: #7d8287;
  margin:2em;
  padding-top :2em;
  padding-bottom: 2em;
  text-align: center;
}

.liste_membre td{
  margin-right:auto;
  margin-left:auto;
}

.liste_membre h2{
  color: black;
}

tr td{
  width: 10em;
  height:3em;
  text-align:center;
}
td{
  width: 10em;
  height:3em;
  text-align:center;

}

.liste_membre a{
  text-decoration: none;
  color: black;
  text-align: center;
}

.sport{
  text-transform: uppercase;
}

.name_groupe a{
  text-decoration: none;
}



.site{
  text-align: center;
}

.commentaire{
  margin-left: 2em;
}

.Ok{
  margin-left: 6em;
}



.valider{
  text-align: center;
}

.image_coordonnees{
  text-align: center;
  margin-bottom: 1em;
}

table{
  margin-left: auto;
  margin-right: auto;
}
