@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(AvenirNextLTPro-Demi.otf);
}

*{

  font-family: Avenir Next LT Pro;

}

.content{
  background-color: #edefed;
}

#title{
  color: #505a5c
}

#avatar{
  float: left;
  margin: 2em;
  border: 0.1px solid black;
  height: 6em;
  width: 6em;

  border-radius: 200px;
  transition: transform .3s ease;
}

#avatar:hover{
  transform: scale(1.4);
}

.top{
  background-color: #FF5852;
  height: 10em;
  width: auto;

}

.top h1{
  color: white;
  font-size: 3em;
  text-align: left;
  padding: 1.07em;
  margin: 0px;
}

#logomodif{
  height: 0.9em;
  width: 0.9em;
}

.star{
  position: absolute;
  left: 22em;
  top: 17.5em;
}
h1 span {
  font-size: 0.6em;
}

.content a{
  text-decoration: none;
}

h1 .modifier{
  color: white;
  font-size: 0.4em;
  text-align: right;
}

.info{
  background-color: white;
  border: solid;
  border-color: #7d8287;
  border-width: thin;
  color: #7d8287;
  margin:2em;
  padding-top :2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-around;


}

#title{
  color: #7d8287;
}

.info_left{
  color: #abadb3;
}

.info_right{
  color:#4b4f55;
}

.detail{
  font-size: 1em;
  color: #505a5c;
  display : flex;
  justify-content:space-around;

}

.title_category{
  font-size: 1em;

    text-decoration: none;
    width: 10em;
    border-style: solid;
    border-radius:2em;
    border-color: #505a5c;
    border-width: thin;
    text-align: center;
    margin-left: 11em;
    color:#505a5c;
    margin-bottom: 2em;
}

.category{

  width: 40%;
}

.detail_category{
  background-color: white;
  border: solid;
  border-color: #7d8287;
  border-width: thin;
  padding-top :2em;
  padding-bottom: 2em;
  padding-left: 1em;
}

.evenement{
  width: 70%;
  display : flex;
  justify-content:center;

}

.title_category_evenement{
    font-size: 1em;

    text-decoration: none;
    width: 10em;
    border-style: solid;
    border-radius:2em;
    border-color: #505a5c;
    border-width: thin;
    text-align: center;
    color:#505a5c;
    margin-bottom: 2em;
}
/*TABLEAU INFOS*/
td{
	width: 13em;
	height: 2em;
}

tr{
	height: 0.5em;
}

.Valider{
  text-align:center;
}

.groupe{
  display:block;
  padding:0.5em;
  color: #505a5c;

}

.evenement{
  margin-left:12em;
}

.liste{
  display:block;
}
