@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(AvenirNextLTPro-Demi.otf);
}

*{

  font-family: Avenir Next LT Pro;

}



.groupe{
  background-color: #5c71cb;
  height: 10em;
  width: auto;
}

.salle{
  background-color: #6779bc;
  height: 10em;
  width: auto;
}

.sport{
  background-color: #90c144;
  height: 7em;
  width: auto;
}

.name_groupe{
  color: white;
  font-size: 3em;
  text-align: left;
  padding: 1.07em;
  margin: 0px;
}

.name_sport{
  color: white;
  font-size: 3em;
  text-align: center;
  padding: 0.5em;
  margin: 0px;
}

h1 .modifier{
  color: white;
  font-size: 0.4em;
  text-align: right;
}

#logomodif{
  height: 0.9em;
  width: 0.9em;
}



.membre{
  display:block;
  margin-left: 5em;
}

table{
  margin-left: auto;
  margin-right: auto;
}


tr td{
  width: 10em;
  height:3em;
  text-align:center;
}
td{
  width: 10em;
  height:3em;
  text-align:center;

}

.infos{
  margin-left:2em;
}

.infos a{
  text-decoration: none;
  color: black;
}

.name_groupe a{
  text-decoration: none;
}


.site{
  text-align: center;
}

.commentaire{
  margin-left: 2em;
}

.Ok{
  margin-left: 6em;
}

.liste_membre table{
  margin-left: 1em;
}

.valider{
  text-align: center;
}

.image_coordonnees{
  text-align: center;
  margin-bottom: 1em;
}
