.liste{
  display: block;
}

.content{
	background-color: #edefed;
	padding: 1em;
	border-bottom: solid;
  border-bottom-color: #7d8287;
  border-width: thin;
}

.formulaire{
	background-color: white;
  border: solid;
  border-color: #7d8287;
  border-width: thin;
  color: #7d8287;
  margin:2em;
  padding-top :2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: space-around;
}

.result{
  background-color: white;
  border: solid;
  border-color: #7d8287;
  border-width: thin;
  color: #7d8287;
  margin-top:2em;
  margin-bottom:2em;
  margin-left: auto;
  margin-right: auto;
  padding-top :1em;
  padding-bottom: 2em;
  width: 30%;
  text-align: center;
}

a{
  color:black;
  text-decoration: none;
}

table{
  margin-left: auto;
  margin-right: auto;
}

tr td{
  width: 15em;
  height: 5em;
}

.title{
  display: flex;
  justify-content: center;

}

.Valider{
  text-align: center;
}

.titre{
  text-align: center;
}

.groupe{
  margin-left: 3em;
}
.membre{
  margin-left: 3em;
}
.club{
  margin-left: 3em;
}
.sport{
  margin-left: 3em;
}
