@font-face {

	font-family:"Avenir Next LT Pro";
	src : url(AvenirNextLTPro-Demi.otf);
}

* {
	font-family: Avenir Next LT Pro;
}


a.sport_css{
	background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a.sport_css:hover{
	background-color: red;
}

/*
#bloc_page {
		background-color:black;

}

.categorie-sports {
		color:white;
		margin-left:2em;
}

.top {
	width : auto;
	height : 2em;
	background-color:#2b2d2e;
	color :white;
	text-align:center;
	line-height:2em;
	font-size:4em;
}


a{
	text-decoration:none;
	color:white;
}

.boutonvalider {
			margin-left:50%;
			color:white;
			background-color:#2b2d2e;
			border:white solid;
			border-width:0.1em;
			border-radius:1em;
			font-size:1.3em;
			text-align:center;
			text-decoration-color:white;
			padding:0.5em;
			position:absolute;


}
.proposition_sport {
	color:white;
	background-color:#2b2d2e;
	border:white solid;
	border-width:0.1em;
	border-radius:1em;
	font-size:1.3em;
	text-align:center;
	text-decoration-color:white;
	padding:0.5em;
	position:absolute;
	margin-top:2em;
	margin-left:2em;


}


.imgsport {
	width: 13em;
	height:13em;
  transition:transform .3s ease;
  margin-left:10em;
}

.imgsport :hover {
    transform: scale(1.3);
}

a :hover {
    transform: scale(1.3);
}

.sports-aquatiques {
		background-image:radial-gradient(rgba(120, 0, 120, 0.6),black);
		border-color:white;
		border-style:solid;
		border-radius:2em;
}

.sports-plein-air {
	background-image:radial-gradient(rgba(120, 0, 120, 0.6),black);
	border-color:white;
	border-style:solid;
	border-radius:2em;

}

.sports-en-salle {
	background-image:radial-gradient(rgba(120, 0, 120, 0.6),black);
	border-color:white;
	border-style:solid;
	border-radius:2em;
}

.sports-co {
	background-image:radial-gradient(rgba(120, 0, 120, 0.6),black);
	border-color:white;
	border-style:solid;
	border-radius:2em;

}

*/

.page{
	background-color: #edefed;
}

.top{
	background-color: #3dc878;
	padding: 1em;
	border-bottom: solid;
  border-bottom-color: #7d8287;
  border-width: thin;
}



.top h1{
  color: white;
	text-align: center;
	font-size: 3em;
}


.content h3{
	text-align: center;
	color: #2d3e4F;
}

.image{
	background-color: #2e2981;
	border-radius: 3em;
	transition: transform .3s ease;

}

.image:hover{
	transform: scale(1.2);
}

.content img{
	height: 4em;
	width: 4em;
	padding: 1em;
}



.sports{
	border-bottom: solid;
  border-bottom-color: #7d8287;
  border-width: thin;
}

.sports-aquatiques_title{
	background-image:url(../Images/wave.png);
	background-position:center;
	padding: 1.5em;
  background-repeat: no-repeat;
	text-align: center;
	font-size: 2em;
	color: white;

}

.sport{
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.sports-ballons_title{
	background-image: url(../Images/ballons.png);
	background-repeat: no-repeat;
	background-position:center;
	padding: 1.5em;
	text-align: center;
	font-size: 2em;
	color: #2d3e4F;
	justify-content: center;
}

.sports-raquettes_title{
	background-image: url(../Images/raquette.png);
	background-repeat: no-repeat;
	background-position:center;
	padding: 1.5em;
	text-align: center;
	font-size: 2em;
	color: #2d3e4F;
	justify-content: center;

}

.sports-nature_title{
	background-image: url(../Images/nature.png);
	background-repeat: no-repeat;
	background-position:center;
	padding: 1.5em;
	padding-top: 2.5em;
	text-align: center;
	font-size: 2em;
	color: #2d3e4F;
	justify-content: center;

}

.sports-combats_title{
	background-image: url(../Images/combat.png);
	background-repeat: no-repeat;
	background-position:center;
	padding: 1.5em;
	padding-top: 2em;
	text-align: center;
	font-size: 2em;
	color: #2d3e4F;
	justify-content: center;

}

.propose{
	text-align: center;
	transition: transform .3s ease;
}
.propose a{
  background-color: #00ed82;
  font-size: 1em;
  text-decoration: none;
  width: 10em;
  border-radius:1em;

  text-align: center;
  padding: 0.8em;
  color:white;

}

.propose:hover{
  transform: scale(1.3);
}
